* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
header {
  background: #f55a5a;
  text-align: center;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-title {
  color: #fff;
  font-weight: 500;
  font-size: 16.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
}
.logo {
  margin: 0.5em;
}
.main-img {
  width: 125px;
  height: 168px;
}
.main-container {
  display: flex;
  margin: 2em;
  flex-direction: row;
  justify-content: space-around;
}
.main-img {
  border-radius: 5px;
  margin: 0 0.5rem;
}
div span {
  font-weight: 400;
  font-size: 0.9em;
  line-height: 12px;
  letter-spacing: 0.17em;
  margin: 0.5em;
}
.location-icon {
  width: 0.6em;
  height: 0.8em;
}
div a {
  font-size: 0.9rem;
  line-height: 12px;
  color: #918e9b;
  transition: all 0.5s;
}
div a:hover {
  color: #000;
}
.main-title {
  margin: 0.5rem;
}
.main-date {
  font-weight: 700;
  font-size: 0.9rem;
}
.main-text {
  font-weight: 400;
  line-height: 150%;
  color: #4d4c52;
}
